name: CI

on:
  push:
    branches: ['main']
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a3398dc5d8737c2dbc7bf8ad6b50918d7a3d4
      - uses: actions/setup-node@b829d2ab59ffb3738572edf3c6dbd9bfebc477f1
        with:
          node-version: 18
          cache: 'pnpm'
      - run: corepack enable
      - run: pnpm install --frozen-lockfile
      - run: pnpm lint
      - run: pnpm test
      - run: pnpm build
      - run: pnpm postbuild
